@font-face {
    font-family: Barriecito;
    src: url(../fonts/Barriecito-Regular.ttf);
}

body {
    overflow-x: hidden;
}

.headnav{
    background: #00416A;
   height: 250px;
}

.logo {
    color: white;
    font-size: 50px;
    font-family: 'Barriecito', cursive;
    transition: 1s;
}

p {
    font-size: 20px !important;
}

.highlighted_text {
    background-image: linear-gradient(47deg, rgb(140, 31, 230), rgb(226, 109, 0));
    color: transparent;
    -webkit-background-clip: text;
}

.bg_gradient {
    /* background-image: linear-gradient(147deg, #8811aca2 10%, #00416a); */
    background-color: rgb(255, 136, 136) !important;
    color: black;
}

@media only screen and (max-width: 600px) {
    .logo {
        font-size: 35px;
    } 
}